#MeuEstoque {
    font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 24px 28px 80px 28px;
    color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    #MeuEstoque {
        padding: 14px 14px 80px 14px;
    }
}
