* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}
.menu-item{
    width: 200px;
    height: 150px;
    text-decoration-line: none;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: auto;
    font-family:  "open sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.menu-item:hover {
    opacity: 0.85;
}
#cabecalho {
    text-align: center;
    padding: 5px;

}
.logo-img{
     width: 50px;
     height: 50px;
}
.menu-nav {
    display: grid;
    grid-template-columns: repeat(4, 200px); 
    gap: 10px;
    margin-top: 20px;
}

#venda{background-color: rgb(76, 175, 80);}
#compra{background-color: rgb(28, 124, 226);}
#estoque{background-color: rgb(255, 152, 0);}
#contas-pagar{background-color: rgb(244,67,54);}
#contas-receber{background-color: rgb(0,150,136);}
#clientes{background-color: rgb(156,39,176);}
#participantes{background-color: rgb(16, 211, 185);}
#download{background-color: rgb(97, 56, 3);}