<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="app-version" content="1.2">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Loja{% endblock %}</title>
</head>
<body>

    <header id="cabecalho">

        <picture>
            <img class="logo-img" src="{{ url_for('static', filename=logo_header) }}" alt="Logo ERP">
        </picture>
    </header>
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    {% block rodape %}
    <footer class="rodape-icones">
        <nav class="menu-icones-interativos">

            {% if request.endpoint != 'home.index' %}
            <a href="{{ url_for('home.index') }}" title="Inicio">
                <div class="icones-interativos" id="inicio">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/logo.ico') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint not in ['vendas.vendas', 'vendas.novo_cliente_venda'] %}
            <a href="{{ url_for('vendas.vendas') }}" title="Vendas"> 
                <div class="icones-interativos" id="venda">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/venda.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint not in ['compras.compras', 'compras.novo_produto_compra', 'compras.novo_fornecedor_compra'] %}
            <a href="{{ url_for('compras.compras') }}" title="Compras">
                <div class="icones-interativos" id="compra">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/compra.png') }}">
                </div>
            </a>
            {% endif %}
            {% if request.endpoint != 'estoque.estoque' %}
            <a href="{{ url_for('estoque.estoque') }}" title="Estoque">
                <div class="icones-interativos" id="estoque">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/estoque.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint != 'contas_a_pagar.contas_pagar' %}
            <a href="{{ url_for('contas_a_pagar.contas_pagar') }}" title="Contas a Pagar">
                <div class="icones-interativos" id="contas_pagar">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/pagar.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint != 'contas_a_receber.contas_receber' %}
            <a href="{{ url_for('contas_a_receber.contas_receber') }}" title="Contas a Receber">
                <div class="icones-interativos" id="contas_receber">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/receber.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint not in ['clientes.clientes', 'clientes.novo_cliente'] %}
            <a href="{{ url_for('clientes.clientes') }}" title="Clientes">
                <div class="icones-interativos" id="clientes">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/Clientes.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint not in ['participantes.participantes', 'participantes.novo_participante'] %}
            <a href="{{ url_for('participantes.participantes') }}" title="Participantes">
                <div class="icones-interativos" id="participantes">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/participantes.png') }}">
                </div>
            </a>
            {% endif %}

            {% if request.endpoint != 'relatorios.relatorios' %}
            <a href="{{ url_for('relatorios.relatorios') }}" title="Relatorios">
                <div class="icones-interativos" id="relatorios">
                    <img class="icones-interativos-form" src="{{ url_for('static', filename='imagens/Relatorio.png') }}">
                </div>
            </a>
            {% endif %}

        </nav>
        <span class="versao">ERP MEI Moda v1.2</span>
    </footer>
    {% endblock %}

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
